/* בקובץ styles.css או scss גלובלי */
body, html {
    font-family: 'Heebo', sans-serif;
  }
  
  /* משפיע על כל רכיב *מלבד* אייקונים */
  *:not(.mat-icon):not(mat-icon) {
    font-family: 'Heebo', sans-serif !important;
  }
  
  /* כדי לוודא שהאייקונים לא נהרסים */
  .mat-icon, mat-icon {
    font-family: 'Material Icons' !important;
  }

  