<a  href="/AllRequestes">חזרה לרשימת הבקשות</a>

<div class="button-group">
  <button mat-button color="primary" (click)="requestApproval()">אישור בקשה</button>
  <button mat-button color="warn" (click)="cancelRequest()">ביטול בקשה</button>
  <button mat-button color="accent" (click)="readyForDelivery()">מוכן למסירה</button>
  <!-- <button mat-button (click)="RequestApproval()">הדפסה</button> -->
  <!-- <button mat-button routerLink="/Allrequestes">חזרה לרשימת הבקשות</button> -->

  <div class="example-flex-container">
    <div class="example-button-container">
      <button mat-fab extended (click)="save()">
        <mat-icon>save</mat-icon>
       שמור
      </button>
    </div>
</div>
<div class="example-flex-container" id="print-button-container">
  <div class="example-button-container">
    <button mat-fab extended (click)="print()">
      <mat-icon>print</mat-icon>
     הדפסה
    </button>
  </div>
</div>
<mat-spinner *ngIf="loading" class="loading-spinner" ></mat-spinner>
<!-- [diameter]="50 -->
<mat-card class="request-details-card">
  <mat-card-header>
    <mat-card-title>פרטי הבקשה</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul class="list-group">
      <li class="list-group-item">
        <strong>מספר בקשה:</strong> {{requestDetails()?.requestId}}
      </li>
      <li class="list-group-item">
        <strong>סטטוס בקשה</strong> {{requestDetails()?.requestStatusNavigation?.name}}
      </li>
      <li class="list-group-item">
        <strong>לשכת נישואין:</strong> {{requestDetails()?.council?.name}}
      </li>
      <li class="list-group-item">
        <strong>שם המזמין:</strong> {{requestDetails()?.ordererName}}
      </li>
      <li class="list-group-item">
        <strong>תפקיד המזמין:</strong> {{requestDetails()?.ordererRole}}
      </li>
      <li class="list-group-item">
        <strong>טלפון מזמין:</strong> {{requestDetails()?.ordererPhone}}
      </li>
      <li class="list-group-item">
        <strong>אימייל מזמין:</strong> {{requestDetails()?.ordererEmail}}
      </li>
      <li class="list-group-item">
        <strong>תאריך הזמנה:</strong> {{requestDetails()?.orderDate | date:'dd/MM/yyyy'}}
      </li>
      <li class="list-group-item">
        <strong>הערות המזמין:</strong> {{requestDetails()?.ordererComment}}
      </li>
      <li class="list-group-item">
        <strong>אופן המסירה:</strong> {{requestDetails()?.deliveryMethod}}
      </li>
      <li class="list-group-item" *ngIf="requestDetails()?.address">
        <strong>כתובת למשלוח:</strong> {{requestDetails()?.address}}
      </li>
      <li class="list-group-item" *ngIf="!requestDetails()?.address">
        <strong>לידי מי נמסר:</strong> 
        <input 
          type="text" 
          [formControl]="deliveredTo" 
          class="editable-input" 
        />
      </li>
      
      <li class="list-group-item">
        <strong>תאריך טיפול:</strong> {{requestDetails()?.handlingDate | date:'dd/MM/yyyy'}}
    
      </li>
      <li class="list-group-item">
        <strong>הערות המשרד להזמנה:</strong> 
        <textarea class="form-control" [formControl]="officeComment"></textarea>
      </li>
    </ul>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-bordered" >

      <ng-container matColumnDef="certificateTypeNavigation">
        <th mat-header-cell *matHeaderCellDef> סוג התעודה </th>
        <td mat-cell *matCellDef="let element">  {{element.certificateTypeNavigation.name }}</td>
      </ng-container>
    
   
      <ng-container matColumnDef="requestAmaunt">
        <th mat-header-cell *matHeaderCellDef> כמות בקשה </th>
        <td mat-cell *matCellDef="let element"> {{element.requestAmaunt}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Unused balance">
        <th mat-header-cell *matHeaderCellDef>  יתרת מלאי </th>
        <td mat-cell *matCellDef="let element">  {{calculateUnusedBalance(element) | async }} </td>
      </ng-container>
   
      <ng-container matColumnDef="supplyAmaunt">
        <th mat-header-cell *matHeaderCellDef> כמות אספקה </th>
        <td mat-cell *matCellDef="let element">
          <input 
            type="number" 
            [(ngModel)]="element.supplyAmaunt" 
            [ngModel]="element.supplyAmaunt == null? element.requestAmaunt : element.supplyAmaunt" 
            class="editable-input" 
          />
        </td>
      </ng-container>
  
     <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef> הערות </th>
      <td mat-cell *matCellDef="let element"> 
        <textarea class="textarea-table" [(ngModel)]="element.comment"></textarea>
      </td>
    </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>

